<header class = "header">
 <div class = "header__container">
   <app-logo [logoUrl] = "logo" ></app-logo>
   <nav class = "nav">
     <ul class="nav__list">
       <ng-container *ngFor = "let navItem of navItems">
         <li class="nav__item" *ngIf="!navItem.disabled">
           <a [routerLink]="navItem.url" class = "nav__link" [ngClass]="{disabled:navItem.url === ''}">{{navItem.content}}</a>
         </li>
       </ng-container>
       <li class="nav__item" *ngIf="!isLogginIn; else showLogout">
         <a
           [routerLink]="['/auth/login']"
         >
           Login</a>
       </li>
       <ng-template #showLogout>
         <li class="nav__item">
           <a
             (click) = "onLogout()"
           >
             Logout</a>
         </li>
       </ng-template>
     </ul>
   </nav>
 </div>
</header>
