<div class="container">
  <form class = "form" [formGroup]="form">
    <h4 class = "form__heading">Register your account</h4>
    <div class="form__error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <input type="email" placeholder="Enter your email" class = "form__control" name="username" formControlName="username"/>
    <input type="password" placeholder="Enter your password" class = "form__control" name="username" formControlName="password"/>
    <button class = "btn" (click)="onSubmit()" >Sign up</button>
    <a [routerLink]="['../login']"  class = "form__link">Login to your account</a>
  </form>
</div>
